html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.Main {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bottomright {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  color: #282c34;
  background-color: lightgrey;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}
